@{
    ViewBag.Title = "Home Page";
}
@model List<Softuni_Blog.Models.Post>
@using Softuni_Blog.Classes
<section class="row">

    @foreach (var post in Model)
    {
        <article class="post col-md-6">
            <h2>@post.Title</h2>
            <div>
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
            {
                    @:by <i>@post.Author.FullName</i>
            }
                else
                {
                    @:by <i>Anonymous</i>
                }
            </div>
            <p>@Html.Raw(Modifier.ReduceText(post.Body))</p>
            <a href="~/Posts/Details/@post.Id">Read More</a>
        </article>
    }
</section>